/*
 * ========================================================
 * components/button
 * ========================================================
 */

.button
  $border-width: 1px

  box-shadow: 0 1px 1px -.5px var(--color-button-drop-shadow) // REVIEW: Sketch shadow seems to has a smaller radius and a slightly different offset/blur.
  outline: 0
  border: $border-width solid transparent
    radius: 4px
  color: inherit
  background: var(--color-push-button-background)
  min-width: 65px
  padding: 3px (9px - $border-width) 2px
  font-size: 11px
  line-height: 21px - $border-width * 2 - 3px - 2px
  letter-spacing: -.07px

  &:not(:disabled):active
    color: var(--color-accented-background-icon)
    background: var(--color-accent)

  // FIXME: Currently, Sass doesn't support negation in media queries very well.
  //        Should be `@media not (prefers-color-scheme: dark)`.
  @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference)
    border-color: var(--color-label-border)

    &:not(:disabled):active
      border-color: var(--color-highlighted-border)

  &:disabled
    opacity: .5
