/*
 * ========================================================
 * components/input-combo
 * ========================================================
 */

.input-combo
  display: inline-flex
  min-width: 125px

  > *
    width: 100%

    &:not(:first-child)
      margin-left: -1px

  @each $pseudo, $side in (last: right, first: left)
    @at-root %no-#{$side}-radius
      border:
        top-#{$side}-radius: 0
        bottom-#{$side}-radius: 0

    > input:not(:#{$pseudo}-child)
      @extend %no-#{$side}-radius

    > div:not(:#{$pseudo}-child)
      .number-input__reference,
      .number-input__spinner
        @extend %no-#{$side}-radius

  > input:focus,
  > div:focus-within
    z-index: 1
