/*
 * ========================================================
 * components/select
 * ========================================================
 */

.select
  display: inline-flex
  align-items: center
  position: relative

  &__reference
    width: 100%

  &__icon
    stroke: var(--inspector-secondary-label-text)
      linecap: round
      linejoin: round
    width: 5px
    height: 9px
    position: absolute
    right: 6px
    pointer-events: none
