/*
 * ========================================================
 * base/custom-properties
 * ========================================================
 */

\:root
  // Sketch
  // ----------------------------
  // canvasArtboardTitleColor
  // --canvas-background: var(--canvasBackgroundColor, #{$white})
  // canvasDarkModeBackgroundColor
  // canvasLightModeBackgroundColor
  // canvasFlowArrowColor
  // canvasLayerHighlightColor
  // canvasLayerSelectionColor
  // canvasMeasurementLabelBackgroundColor
  // canvasPageBackgroundColor
  // canvasDarkModePageBackgroundColor
  // canvasLightModePageBackgroundColor
  // canvasPixelLineColor
  // canvasRulerBackgroundColor
  // canvasRulerLineColor
  // canvasRulerLineOccupiedColor
  // canvasRulerLockColor
  // canvasRulerOccupiedColor
  // canvasRulerTextColor
  // canvasRulerTextBackgroundColor
  // canvasSliceOutlineColor
  // canvasSymbolTitleColor
  // canvasOverrideSelectionColor
  // canvasOverrideSelectionBackgroundColor
  // colorPickerFrequentImageBackgroundColor
  // colorPickerAssetBorderColor
  // colorPickerModifiedAssetIndicatorBorder
  // colorPickerCheckerboardBackgroundColor
  // colorPickerCheckerboardBorderColor
  // colorPickerMarkerFillColor
  // colorPickerMarkerShadowColor
  // colorPickerSeparatorColor
  // colorPickerModelPickerBackgroundColor
  // colorPickerModelPickerBackgroundColorActive
  // colorPickerColorControlsBorder
  // colorPickerColorControlsKnobBorder
  // colorPickerCheckerboardForeground
  // assetPickerItemBorderColor
  // assetPickerItemGridHighlightColor
  // assetPickerImageItemBackgroundColor
  // overlayButtonBackground
  // documentsWindowSelectionColor
  // documentsWindowUnemphasizedSelectionColor
  // documentItemOverlayColor
  // documentsWindowThumbnailBorderColor
  // documentsWindowUnemphasizedThumbnailBorderColor
  // documentsWindowThumbnailBackgroundColor
  // documentsWindowTextSelectionColor
  // documentsWindowUnemphasizedTextSelectionColor
  // licenseWindowErrorTextColor
  // preferencesWindowErrorTextColor
  // preferencesAccountBoxBackgroundColor
  // windowBadgeFontsMissingColor
  // windowBadgeLibraryChangesAvailableColor
  // windowBadgePluginUpdatesAvailableColor
  // cloudPopoverButtonTintColor
  // cloudPopoverButtonTintColorPressed
  // cloudPopoverCancelButtonTintColor
  // cloudPopoverCancelButtonTintColorPressed
  // windowBadgeTrialMessageColor
  // windowBadgeMultipleNotificationsColor
  // windowBadgeTextColor
  // windowBadgeUnfocusedPillColor
  // documentsWindowSeperatorColor
  // documentsWindowLocalDocumentButtonBackgroundColor
  // documentsWindowLocalDocumentButtonBackgroundHighlightColor
  // documentsWindowLocalDocumentButtonInnerShadowColor
  // documentsWindowLocalDocumentButtonSecondInnerShadowColor
  // documentsWindowLocalDocumentBorderColor
  // documentsWindowWidgetColorPressed
  // documentsWindowStatusIconColor
  // documentsWindowStatusIconColorSelected
  // cloudIntroButtonBackgroundColor
  // cloudIntroButtonBackgroundColorPressed
  // componentPaneTextItemMissingFontBackgroundColor
  // hoverButtonHoverColor
  // hoverButtonNormalColor
  // splitViewDividerColor
  // layerListArtboardBorderColor
  // layerListSelectedArtboardBorderColor
  // layerListBackgroundColor
  // layerListLightBackgroundColor
  // layerListFilterBarBackgroundColor
  // layerListFilterBarBorderColor
  --token-data-background: var(--layerListFilterTokenBackgroundColor, #ddebff)
  --token-data-selected-background: var(--layerListFilterTokenSelectedBackgroundColor, #{$color-primary})
  --token-text: var(--layerListFilterTokenTitleColor, #{$color-text})
  --token-selected-text: var(--layerListFilterTokenSelectedTitleColor, #{$white})
  // layerListIconTintColor
  // layerListIconPressedTintColor
  // layerListIconPressedTintColorSelected
  // layerListIconSelectedActiveTintColor
  // layerListIconSelectedInactiveTintColor
  // layerListIconSharedTintColor
  // layerListSplitViewDividerColor
  // layerListSymbolOverrideIconTintColor
  // layerListTabButtonColor
  // layerListSelectedTabButtonColor
  // componentPaneGroupPreviewBackgroundColor
  --inspector-accent: var(--inspectorAccentColor, #{$color-primary})
  // inspectorAccentedIconColor
  // inspectorHighlightedAccentedIconColor
  // inspectorAccentedColorModePickerIconColor
  // inspectorHighlightedAccentedColorModePickerIconColor
  // inspectorAlignmentDisabledStrutColor
  // inspectorAlignmentStrutColor
  --inspector-alignment-active-strut: var(--inspectorAlignmentActiveStrutColor, #{$color-primary})
  --inspector-alignment-highlighted-active-strut: var(--inspectorAlignmentHighlightedActiveStrutColor, #{$color-primary-dark})
  --inspector-alignment-view-background: (--inspectorAlignmentViewBackgroundColor, #{$white})
  --inspector-background: var(--inspectorBackgroundColor, #f2f2f2)
  --inspector-border: var(--inspectorBorderColor, #{rgba(#000, .2)})
  // --inspectorButtonBackgroundColor
  --inspector-button-drop-shadow: var(--inspectorButtonDropShadowColor, #{rgba(#000, .07)})
  --inspector-button-highlighted-background: var(--inspectorButtonHighlightedBackgroundColor, #d7d7d7)
  --inspector-highlighted-accent: var(--inspectorHighlightedAccentColor, #{$color-primary-dark})
  --inspector-highlighted-border: var(--inspectorHighlightedBorderColor, #{rgba(#000, .31)})
  // inspectorHighlightedIconColor
  --inspector-highlighted-slider-knob: var(--inspectorHighlightedSliderKnobColor, #d7d7d7)
  // inspectorIconColor
  --inspector-accented-background-icon: var(--inspectorAccentedBackgroundIconColor, #{$white})
  --inspector-inline-label-text: var(--inspectorInlineLabelTextColor, #bfbfc0)
  --inspector-label-background: var(--inspectorLabelBackgroundColor, #{$white})
  --inspector-label-border: var(--inspectorLabelBorderColor, #{rgba(#000, .17)})
  --inspector-label-text: var(--inspectorLabelTextColor, #{$color-text})
  --inspector-push-button-background: var(--inspectorPushButtonBackgroundColor, #{$white})
  // inspectorResizePreviewBackgroundColor
  // inspectorResizePreviewEdgeIndicatorColor
  // inspectorResizePreviewInnerLayerBackgroundColor
  // inspectorResizePreviewInnerLayerBorderColor
  // inspectorSectionBackgroundColor
  --inspector-section-header-text: var(--inspectorSectionHeaderTextColor, #797979)
  // inspectorSectionSeparatorColor
  --inspector-separator: var(--inspectorSeparatorColor, #{rgba(#000, .1)})
  --inspector-slider-knob-border: var(--inspectorSliderKnobBorderColor, #{rgba(#000, .15)})
  --inspector-slider-knob: var(--inspectorSliderKnobColor, #{$white})
  --inspector-slider-right-track: var(--inspectorSliderRightTrackColor, #{rgba(#000, .15)})
  // inspectorStylePreviewButtonOverlayHighlightingColor
  // inspectorArtboardPresetHeaderColor
  // inspectorArtboardPresetTableViewBackgroundColor
  --inspector-secondary-label-text: var(--inspectorSecondaryLabelTextColor, #808080)
  // inspectorSecondaryLabelTextColorHighlighted


  // - General
  // TODO: Remove this and use Sketch equivalents.
  // ----------------------------
  --color-background: #{$color-background}
  --color-primary: #{$color-primary}
  --color-male: #62ba4626
  --color-male-highlighted: #62ba46
  --color-female: #f74f9e26
  --color-female-highlighted: #f74f9e
  --input-placeholder: #{rgba(#000, .25)}
  --stepper-pressed-background: #d9d9d9
  --stepper-icon: #{rgba(#000, .5)}
  --token-background: #98989826
  --token-selected-background: #989898
  --popover-background: #{$white}

  @media (prefers-color-scheme: dark)
    --color-male: #62ba4680
    --color-female: #f74f9e80
    --input-placeholder: #{rgba(#fff, .25)}
    --stepper-pressed-background: #6a6a6a
    --stepper-icon: #{rgba(#fff, .5)}
    --token-background: #8c8c8c80
    --token-selected-background: #8c8c8c
    --popover-background: #{rgba(#282828, .93)}
