template#button-group
  .button-group
    .button-group__list

    .button-group__label



template#button-group__button
  label.button-group__control(aria-title="" title="")
    input.button-group__reference(type="radio" name="" value="")
    .button-group__mask
      +icon('').button-group__icon
