template#checkbox
  .checkable
    label.checkable__control
      input.checkable__reference(type="checkbox")

      .checkable__mask
        +icon('check').checkable__icon

      .checkable__label

    small.checkable__description
