template#languages
  .select.select--multiple(data-placeholder="Select Languages")
    select.select__reference(name="languages" multiple)
      //- TODO: Remove this once this field is funcional.
      option(value="en") English
      option(value="pt_PT") Portuguese
      option(value="zh_CN") Chinese

    .select__placeholder Any Language

    .select__token-list

    +icon('chevron-down').select__icon
