template#languages
  .select
    select.select__reference(name="languages")
      //- TODO: Remove this once this field is funcional.
      option(value="0" selected) Any Language
      option(value="en") English
      option(value="pt") Portuguese

    +icon('chevron-up-down').select__icon
