template#languages
  .select.select--multiple(data-placeholder="Select Languages")
    select.select__reference(name="languages" multiple)

    .select__placeholder Any Language

    .select__token-list

    +icon('chevron-down').select__icon
