// ========================================================
// Colors
// ========================================================

$color-text: #252525;

$color-background: $white;

$color-primary: #007BFF;
$color-primary-dark: #005DD7;


// ========================================================
// Typography
// ========================================================

$fs-body: $font-size-m;

$lh-body: $line-height-m;

$fw-body: $font-weight-m;

$font-stack: $system-stack;
