// ========================================================
// Colors
// ========================================================

$black: #000;

// Grays go here.

$white: #fff;



// ========================================================
// Typography
// ========================================================

$system-stack: system-ui, -apple-system, sans-serif;

$font-size-m: 13px;

$line-height-m: 15 / 13;

$font-weight-m: 400;
