extends _extends/_layout



block styles
  link(rel="stylesheet", href="../assets/styles/layout/main.css")
  link(rel="stylesheet", href="../assets/styles/pages/main.css")



block body
  .wrapper
    .wrapper__bg


    //- Just to make the sidebar top draggable.
    div(data-app-region="drag")


    .titlebar(data-app-region="drag")= constants.PLUGIN_NAME


    .sidebar
      .sidebar__list
        .sidebar__item
          .sidebar__item-icon
          .sidebar__item-name Names
          .sidebar__item-data.sidebar__item-data--active
            +icon('data').sidebar__item-data-icon

        .sidebar__item
          .sidebar__item-icon
          .sidebar__item-name Cities
          .sidebar__item-data
            +icon('data').sidebar__item-data-icon

        .sidebar__item
          .sidebar__item-icon
          .sidebar__item-name Names/Female Names
          .sidebar__item-data
            +icon('data').sidebar__item-data-icon

        .sidebar__item
          .sidebar__item-icon
          .sidebar__item-name Pets
          .sidebar__item-data.sidebar__item-data--active
            +icon('data').sidebar__item-data-icon

        .sidebar__item
          .sidebar__item-icon
          .sidebar__item-name Time
          .sidebar__item-data.sidebar__item-data--active
            +icon('data').sidebar__item-data-icon

        .sidebar__item
          .sidebar__item-icon
          .sidebar__item-name IBAN
          .sidebar__item-data
            +icon('data').sidebar__item-data-icon

        .sidebar__item
          .sidebar__item-icon
          .sidebar__item-name Phone Numbers
          .sidebar__item-data
            +icon('data').sidebar__item-data-icon

        .sidebar__item
          .sidebar__item-icon
          .sidebar__item-name Colors
          .sidebar__item-data
            +icon('data').sidebar__item-data-icon

      .sidebar__footer
        button 􀅼
        button 􀄂


    .main
      .token-box.main__filler
        .token-box__scroller
          .token-box__input(contenteditable spellcheck="false")

        //- TODO [>=1.0.0]: Use data-popover instead of select.
        //- button.token-box__chevron
        button.token-box__chevron
          +icon('chevron-down').token-box__chevron-icon


      hr


      form.js-data-general-settings-form.js-no-submit
        .heading-2 Limit


        .combo-field.limits
          .input-combo
            .number-input
              input.number-input__reference.limits__min(type="number" name="limit-min" min=1 placeholder="Min")

              button.number-input__spinner.number-input__spinner--up(tabindex=-1)
                +icon('spinner-up').number-input__spinner-icon

              button.number-input__spinner.number-input__spinner--down(tabindex=-1)
                +icon('spinner-down').number-input__spinner-icon


            .number-input
              input.number-input__reference.limits__max(type="number" name="limit-max" min=1 placeholder="Max")

              button.number-input__spinner.number-input__spinner--up(tabindex=-1)
                +icon('spinner-up').number-input__spinner-icon

              button.number-input__spinner.number-input__spinner--down(tabindex=-1)
                +icon('spinner-down').number-input__spinner-icon


          .select
            select.select__reference(name="limit-unit")
              option(value="character") Characters
              option(value="word") Words

            +icon('chevron-up-down').select__icon


        .checkable.mt-10
          label.checkable__control
            input.checkable__reference(type="checkbox" name="ellipsis")

            .checkable__mask
              +icon('check').checkable__icon

            .checkable__label Truncate with ellipsis


      hr.fill-edges


      .main__footer
        //- TODO: Add Import feature.
        //- button.button Import&hellip;
        button.button.js-apply-button Apply



block scripts
  script(src="../assets/scripts/components/token.js")
  script(src="../assets/scripts/components/number-input.js")
  script(src="../assets/scripts/data.js")
  script(src="../assets/scripts/pages/main.js")
