extends _extends/_layout



block styles
  link(rel="stylesheet", href="../assets/styles/layout/popover.css")
  link(rel="stylesheet", href="../assets/styles/layout/select-menu.css")
  link(rel="stylesheet", href="../assets/styles/pages/token-popover.css")



block body
  .popover.popover--bottom
    .popover__caret
    .popover__body.popover__body--full-height.popover__body--no-padding
      .select-menu
        label.select-menu__search
          +icon('magnifier').select-menu__search-icon
          input.select-menu__search-input(placeholder="Search" spellcheck="false")
        .select-menu__list



block symbols
  include ../../../../build/assets/images/template-icons.svg



block scripts
  script(src="../assets/scripts/layout/popover.js")
  script(src="../assets/scripts/layout/select-menu.js")
